container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
table {
    border-collapse: collapse;
    margin: 20px 0;
}
.initial-number {
    background-color: rgb(124, 124, 124); 
    color: black;
}
td {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(66, 66, 66);
    color: gray;
}
.header {
    text-align: center;
    margin-top: 20px;
}
.button-container, .number-buttons {
    text-align: center;
    margin: 20px;
}
.selected {
    background-color: orange;
    opacity: 50%;
    color: black;
}
.thick-top {
    border-top: 3px solid #000;
}
.thick-left {
    border-left: 3px solid #000;
}
.thick-bottom {
    border-bottom: 3px solid #000;
}
.thick-right {
    border-right: 3px solid #000;
}
